@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&family=Roboto:wght@300;400;700&display=swap");

footer {
  width: 100vw;
  margin-top: 20px;
  background-color: #ededed;
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.footer-social-media {
  margin-bottom: 10px;
}

.footer-social-media a {
  padding: 0px 6px;
  text-decoration: none;
  color: #373867;
}

.footer-container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}
