@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

header {
  position: fixed;
}

.header-content {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ededed;
  align-items: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #373867;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #373867;
  margin: 0px 10px;
}

.solid {
  width: 240px;
  margin-top: 3px;
  height: 1px;
  background-color: black;
}

#menu-button {
  position: absolute;
  align-self: center;
  left: 9px;
}

#sign-up-button {
  position: absolute;
  align-self: center;
  right: 9px;
}

.header-link a {
  text-align: center;
  font-size: 15px;
  color: #373867;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.subheader {
  display: none;
}

.menu-icon {
  position: absolute;
  align-self: center;
  left: 9px;
}

@media (min-width: 1024px) {
  .subheader {
    display: block;
  }
}
