<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="items-container">
        <h1>Sign In</h1>
        <form action="submit">
          <input type="text" placeholder="Email" id="email" />
          <input type="text" placeholder="Password" id="password" />
          <div class="remember-me">
            <label for="remember-me">Remember me</label>
            <input type="checkbox" name="remember-me" id="remember-me-check" />
          </div>
          <div class="forgot-password">
            <a href="#">Forgot password?</a>
          </div>
          <div class="continue">
            <button type="submit">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
