body {
  color: #373867;
  font-family: 'Roboto', sans-serif;
}

header{
  position: relative;
  width: 80%;
  height: 100px;
  float: right;
}

.menu-icon{
  position: fixed;
  left: 15%;
  padding-top: 30px;
  color: rgb(55, 56, 103);
  }

.social-media{
  position: relative;
  width: 20%;
  float: right;
  margin-top: 20px;
  margin-right: 60px;
}

i {
  font-size: 22px;
  margin-left: 20px;
}

.header-bar{
  float: right;
  width: 98%;
  margin-right: 1%;
  margin-top: 20px;
  border: 1px solid;
  color:black
  
}

.side-bar{
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: #AFAFC2;
}

aside p {
  font-size: 14px;
  font-weight: bold;
  margin-left: 29px;
  margin-top: 42px;
  margin-bottom: 20px;
}

.links{
  font-size: 13px;
  margin-left: 40px;
  margin-top: 60px;
  line-height: 20px;
  color: #373867;
}

.links2{
  font-size: 13px;
  margin-left: 40px;
  line-height: 20px;
  margin-top: 60px;
  color: #373867;
}
 a{
  text-decoration: none;
 }

.lorem{
  width: 50%;
  font-size: 13px;
  font-weight: 100;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 42px;
  line-height: 20px;
}

.bar{
  width: 65%;
  border: 1px solid;
  color: black;
  margin: 30px;
}

.title{
  width: 79%;
  float: right;
  margin-top: 30px;
}

  
h1{
  margin-bottom:1%;
  font-size: 50px;
  color: rgb (55, 56, 103);
  text-shadow: 2px 2px 2px #373867;
}

.subtitle{
  position: relative;
  width: 100%;
  height: 100px;
  float: right;
}

.subtitle h2{
  font-size: 25px;  
  margin-left: 23%;
 
  line-height: 150px;
  color: rgb(55, 56, 103);
  text-shadow: 0px 2px 2px #373867;
  
}
 .image01{
  position: absolute;
    display: inline-block;
    top: 16%;
    width: 33%;
    height: 100%;
    margin-left: 65%;
}
.p1{
  font-size: 18px;
    color: rgb(55, 56, 103);
    margin-top: 2%;
    margin-left: 24%;
    margin-right: 43%;
    line-height: 25px;
    text-align: justify;
}