aside {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 14%;
  height: 100%;
  background-color: #afafc2;
  overflow: scroll;
  z-index: 3;
  align-content: flex-start;
  margin-right: 87%;
  justify-content: flex-start;
}

.menu-icon-aside {
  display: flex;
  flex-basis: 100%;
  font-size: 20x;
  justify-content: flex-end;
  margin: 20px;
}

aside ul {
  padding-left: 10px;
}

aside ul li {
  left: 0;
  list-style: none;
  align-self: flex-start;
}

aside ul li a {
  font-size: 12px;
  padding-top: 13px;
  color: #373867;
  text-decoration: none;
}

aside p {
  width: 50%;
  font-size: 12px;
  font-weight: 100;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 5px;
  line-height: 20px;
}

.aside-bar {
  width: 70%;
  border: 1px solid #000;
  background-color: #000;
  margin: 34px auto;
}
